h4#about-title.has-text-centered #{name} (β)
.about(lang="ja")!= partial("_about-ja")
.about(lang="en-us")!= partial("_about-en")
.about(lang="zh-hans")!= partial("_about-hans")
.about(lang="zh-hant")!= partial("_about-hant")
.modal-padding-fix
